<section>
  <h1>Contact</h1>
  <ul>
    <li><i class="icon-envelope"></i> <a href='ma&#105;l&#116;&#111;&#58;%6&#65;ef%&#54;6%40k%6Cu%6&#66;as&#46;&#110;%65t'>j&#101;ff&#64;&#107;luka&#115;&#46;net</a> (email)</li>
    <li><i class="icon-lemon"></i> <a href="skype:jeffklukas?call">jeffklukas</a> (Skype)</li>
    <li><i class="icon-facebook-sign"></i> <a href="http://www.facebook.com/jklukas">jklukas</a> (Facebook)</li>
    <li><i class="icon-linkedin-sign"></i> <a href="http://www.linkedin.com/profile/view?id=175583870">jklukas</a> (LinkedIn)</li>
    <li><i class="icon-github-sign"></i> <a href="https://github.com/jklukas">jklukas</a> (GitHub)</li>
    <li><i class="icon-twitter-sign"></i> <a href="https://twitter.com/JeffKlukas">@JeffKlukas</a> (Twitter)</li>
    <li><i class="icon-envelope"></i> <a href="https://plus.google.com/u/0/113614530826956763926">jeff.klukas</a> (Google)</li>
  </ul>
