// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
    background: #14283C;
    /* convert -size 200x200 canvas:'#14283C' +noise Gaussian source/images/bluenoise.png */
    @include background-image(
        radial-gradient(center 12em, ellipse closest-corner, rgba(255,255,255,0.2), rgba(255,255,255,0.0)),image-url("/images/bluenoise.png")
                       );
}

/* body { */
/*     color: #bbb; */
/* } */

/* article header p { */
/*     color: #888; */
/* } */

/* #content article { */
/*     text-align: justify; */
/* } */

/* #blog-archives h1 { */
/*     color: #bbb; */
/* } */

/* aside.sidebar, body > nav, body > footer { */
/*     @include box-shadow(inset 0 0 10px $default-box-shadow-color); */
/*     border: 0; */
/*     @include border-radius(.4em); */
/* } */

/* aside.sidebar { */
/*     background: #F2F2F2; */
/*     @include border-radius(.4em); */
/* } */

/* body > nav { */
/*     margin-bottom: 1em; */
/* } */

/* body > footer { */
/*     margin-top: 1em; */
/* } */

body > header {
    background: none;
    text-align: right;
    h1 {
        font: 4.5em 'Cabin Sketch';
    }
}

/* body > div { */
/*     background: none; */
/*     border: 0; */
/*     & > div { */
/*         background: none; */
/*         border-right: 0; */
/*     } */
/* } */

/* .toggle-sidebar::after { */
/*     @include box-shadow(0 0 10px $default-box-shadow-color);     */
/* } */

/* html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{ */
/*     a, a:visited, a:focus, a:hover { */
/*         color: inherit; */
/*     } */
/*     a:hover { */
/*         color: #dd4a40; */
/*     } */
/* } */

/* .entry-content dl { */
/*     margin-bottom: 1em; */
/*     dt, dd {display: inline;} */
/*     dt { */
/*         font-family: Cabin; */
/*         font-weight: bold; */
/*         color: #DD4A40; */
/*     } */
/*     dd:before {content: '\00B7' ' ';} */
/* } */

/* article img { */
/*     background: white; */
/* } */

.imgcontainer {
    font-family: "Indie Flower";
    text-align: center;
    width: 100%;
    margin: 0em auto;
    p {text-align: center;}
    img {
        max-width:100%;
    }
}

/* #content .blog-index article h1, #blog-archives h1 { */
/*     a:hover { */
/*         color: #dd4a40; */
/*     } */
/* } */

